.title {
     font-size: 38px;
     margin-bottom: 25px;
     text-align: center;
     text-transform: uppercase;
    }

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 50px;

    @media (max-width: 575.98px) { 
          grid-template-columns: repeat(2, 1fr);
          column-gap: 20px;
     }
}